#blog-post {
  margin-top: 40px;
  margin-bottom: 40px;
  .container {
    @include display-flex();
    .left-panel {
      display: block;
      width: 270px;
      margin-right: 30px;
      .panel-module {
        margin-bottom: 30px;
        .header {
          display: block;
          height: 30px;
          padding: 5px;
          background-color: $blue;
          p {
            line-height: 30px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
        .content {
          padding-top: 20px;
          .post {
            @include display-flex();
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
            img {
              display: block;
              margin-right: 20px;
              width: 80px;
              height: auto;
            }
            .post-title {
              h4 {
                font-weight: bold;
                color: $pink;
                line-height: 20px;
              }
              p {
                line-height: 20px;
              }
            }
          }
          .categories {
            .post-category {
              padding-right: 15px;
              @include display-flex();
              @include justify-content(space-between);
              line-height: 40px;
              border-bottom: 1px solid #cccccc;
              &:last-child {
                border-bottom: none;
              }
              a {
                font-weight: bold;
                color: #555555;
                i {
                  margin-right: 10px;
                  color: #cccccc;
                }
              }
              p {
                color: $pink;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .right-panel {
      width: calc(1000px - 300px);
      .post {
        @include display-flex();
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #cccccc;
        img {
          display: block;
          width: 270px;
          height: 140px;
          margin-right: 30px;
        }
        .post-desc {
          line-height: 20px;
          .title {
            font-weight: bold;
            color: $pink;
          }
          .time {
            font-size: 12px;
          }
          .shortdesc {
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          a {
            color: $blue;
          }
        }
      }
    }
    .navigation {
      @include display-flex();
      margin-left: auto;
      margin-right: auto;
      a {
        padding-left: 15px;
        padding-right: 15px;
        @include border-radius(3px);
        margin-right: 10px;
        i {
          font-size: 16px;
          margin-left: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #blog-post {
    margin-top: 80px;
    .container {
      @include display-flex();
      @include flex-direction(column-reverse);
      .right-panel {
        width: 100vw !important;
        .post {
          @include flex-direction(column);
          padding-left: 25px;
          padding-right: 25px;
          &:last-child {
            border-bottom: none;
          }
          img {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          }
        }
        .navigation {
          @include justify-content(center);
        }
      }
      .left-panel {
        width: 100vw;
        margin-right: 0;
        margin-top: 40px;
        .panel-module {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
  }
}