#contacts {
  margin-top: 80px;
  margin-bottom: 80px;
  .container {
    .header {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      @include display-flex();
      .header-title {
        background-color: $blue;
        padding: 5px;
        height: 30px;
        p {
          line-height: 30px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .contact-info {
      margin-top: 20px;
      @include display-flex();
      @include justify-content(space-between);
      .info {
        @include flex(1 1 45%);
        padding-right: 30px;
        .user-info {
          margin-top: 20px;
          margin-bottom: 30px;
          @include display-flex();
          @include justify-content(space-between);
          .name, .email {
            @include flex(1 1 45%);
            input {
              display: block;
              margin-top: 10px;
              width: 100%;
              height: 36px;
              @include box-sizing(border-box);
              @include border-radius(3px);
              background-color: #f7f7f7;
              border: 1px solid #e5e5e5;
              @include transition(ease, .3s);
              &:focus {
                outline: none;
                @include transition(ease, .3s);
                @include box-shadow(0 0 20px rgba(38, 171, 227, .3));
                border: 1px solid $blue;
              }
              &:hover {
                @include transition(ease, .3s);
                border: 1px solid $blue;
              }
            }
          }
          .name {
            margin-right: 30px;
          }
        }
        textarea {
          margin-top: 10px;
          margin-bottom: 30px;
          width: 99%;
          height: 250px;
          background-color: #f7f7f7;
          border: 1px solid #e5e5e5;
          &:focus {
            outline: none;
            @include transition(ease, .3s);
            @include box-shadow(0 0 20px rgba(38, 171, 227, .3));
            border: 1px solid $blue;
          }
          &:hover {
            @include transition(ease, .3s);
            border: 1px solid $blue;
          }
        }
        a {
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
          @include border-radius(3px);
        }
      }
      .map {
        @include display-flex();
        @include flex(1 1 45%);
        margin-top: 55px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #contacts {
    iframe, .map {
      display: none !important;
    }
    .header {
      border-bottom: none !important;
      padding-left: 25px;
      padding-right: 25px;
      .header-title {
        @include flex-grow(1);
        text-align: center;
      }
    }
    .contact-info {
      padding-left: 25px;
      padding-right: 25px;
      .info {
        padding-right: 0 !important;
      }
    }
  }
}