// Buttons

.btn {
  display: block;
  line-height: 30px;
  height: 30px;
  padding: 5px;
  &-blue {
    background-color: $blue;
    color: white;
    @include transition(ease .3s);
    &:hover {
      background-color: $pink;
      @include transition(ease .3s);
    }
  }
  &-blue.active {
    background-color: $pink;
  }
  &-pink {
    background-color: $pink;
    color: white;
  }
  &-vanilla {
    background-color: $vanilla;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Appearance

.dashed-line {
  @include box-sizing(border-box);
  border: 1px dashed white;
  width: 100%;
  height: 100%;
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}