#main-footer {
  .quotes {
    background-color: $vanilla;
    height: 100px;
    .quote {
      line-height: 100px;
      color: #555;
      text-align: left;
      i {
        margin-right: 10px;
        font-size: 18px;
        color: #555555;
      }
      .author {
        margin-right: 10px;
        font-weight: 700;
      }
      a, .tag {
        color: $blue;
        font-weight: 700;
      }
    }
  }
  .footer {
    background-color: $blue;
    .container {
      .sitemap {
        padding-top: 30px;
        padding-bottom: 30px;
        @include display-flex();
        @include justify-content(space-between);
        .item {
          color: white;
          width: 20%;
          .header {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: 700;
          }
          .desc {
            line-height: 20px;
            margin-bottom: 20px;
            font-size: 13px;
          }
          a {
            color: white;
          }
        }
      }
    }
  }
  .bottom-footer {
    background-color: #4d4d4d;
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
      .content {
        @include display-flex();
        @include justify-content(space-between);
        font-size: 13px;
        .copyright {
          display: block;
          width: 30%;
          color: $vanilla;
          line-height: 22px;
        }
        .quick-link {
          width: 70%;
          a {
            color: $vanilla;
            line-height: 22px;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid white;
            &:last-child {
              border-right: none;
            }
          }
        }
        .social {
          @include display-flex();
          .social-btn {
            margin-right: 10px;
            display: block;
            width: 22px;
            height: 22px;
            background-color: $vanilla;
            color: #555;
            text-align: center;
            line-height: 22px;
            @include border-radius(50%);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

// CSS for mobile
@media screen and (min-width: 320px) and (max-width: 768px){
  #main-footer {
    .quotes {
      @include display-flex();
      @include flex-direction(column);
      @include justify-content(center);
      padding-left: 20px;
      padding-right: 20px;
      .quote {
        width: 100%;
        line-height: 20px !important;
        text-align: center !important;
      }
    }
    .footer {
      .sitemap {
        @include flex-direction(column);
        width: 100vw !important;
        padding-bottom: 0 !important;
        .item {
          width: calc(100vw - 50px) !important;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 30px;
          .desc {
            margin-bottom: 10px !important;
          }
        }
      }
    }
    .bottom-footer {
      .content {
        @include display-flex();
        @include flex-direction(column);
        padding-left: 25px;
        padding-right: 25px;
        .quick-link {
          @include order(1);
          text-align: center;
          margin: 0 auto;
          width: 100% !important;
        }
        .social {
          @include order(2);
          @include display-flex();
          @include justify-content(center);
          margin-top: 10px;
          margin-bottom: 10px;
          .social-btn {
            width: 30px !important;
            height: 30px !important;
            line-height: 30px !important;
            font-size: 16px;
          }
        }
        .copyright {
          @include order(3);
          width: 100% !important;
          text-align: center;
        }
      }
    }
  }
}