#header-top {
  @include display-flex();
  @include flex-direction(column-reverse);
  height: 310px;
  width: 100%;
  margin-bottom: 20px;
  background-image: url("../img/big-header.png");
  background-position-x: center;
  background-repeat: no-repeat;
  .container {
    .bottom-menu-desktop {
      @include display-flex();
      position: relative;
      .left {
        p {
          color: white;
          font-weight: 700;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 30px;
        }
      }
      .middle {
        background-color: #26abe3;
        padding: 5px;
        line-height: 30px;
        height: 30px;
        .dashed-line {
          .all-menu {
            @include display-flex();
            .menu-items {
              padding-right: 15px;
              &:first-child {
                padding-left: 15px;
              }
              &:hover {
                a {
                  text-decoration: underline;
                }
              }
              a {
                display: inline-block;
                color: white;
                font-weight: 700;
                width: 100%;
                &:after {
                  content: '';
                  padding-left: 10px;
                  border-right: 1px solid rgba(255, 255, 255, .5);
                }
              }
              &:last-child {
                padding-right: 0;
                a:after {
                  content: '';
                  border-right: none;
                }
              }
            }
            .active a {
              text-decoration: underline;
            }
          }
        }
      }
      .right {
        line-height: 30px;
        position: absolute;
        right: 0;
        cursor: pointer;
        .fa {
          padding-left: 10px;
          padding-right: 10px;
          color: white;
          font-size: 16px;
        }
      }
    }
    .bottom-menu-mobile {
      display: none;
    }
  }
}

// CSS for mobile

@media screen and (min-width: 320px) and (max-width: 768px) {
  #header-top {
    background-image: none;
    height: auto;
    .bottom-menu-desktop {
      display: none !important;
    }
    .bottom-menu-mobile {
      display: block !important;
      height: 50px;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: $pink;
      margin-bottom: -20px;
      .menu-bar {
        @include display-flex();
        @include justify-content(space-between);
        padding-left: 25px;
        padding-right: 25px;
        .menu-button, .search-button, .logo {
          color: white;
          font-size: 20px;
          line-height: 50px;
        }
        .logo {
          font-weight: bold;
        }
      }
      .menu-dropdown {
        display: none;
        width: 100vw;
        height: calc(100vh - 50px);
        z-index: 100;
        background-color: white;
        .menu-items {
          padding: 40px 10px;
          .item {
            display: block;
            background-color: $pink;
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin-bottom: 5px;
            a {
              color: white;
              padding-left: 15px;
              font-size: 13px;
              text-transform: uppercase;
              @include display-flex();
              @include justify-content(space-between);
              i {
                line-height: 40px;
                display: block;
                background-color: $dark-pink;
                height: 40px;
                padding-left: 15px;
                padding-right: 15px;
              }
            }
          }
        }
      }
      .menu-dropdown.show {
        display: block;
      }
    }
  }
}