#products {
  margin-top: 40px;
  .bestseller-products, .featured-products, .brand-list {
    margin-top: 20px;
  }
  .featured-products {
    .view-detail {
      a {
        font-weight: 700;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
  .container {
    .header {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      @include display-flex();
      .header-title {
        background-color: $blue;
        padding: 5px;
        height: 30px;
        p, a {
          line-height: 30px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          padding-left: 10px;
          padding-right: 10px;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
          &:after {
            content: '\f105';
            font-family: FontAwesome, sans-serif;
            margin-left: 10px;
          }
          &:first-child {
            padding-right: 0;
          }
        }
      }
      .header-navigation {
        background-color: $pink;
        padding: 5px;
        height: 30px;
        .nav-btn {
          line-height: 30px;
          @include display-flex();
          @include flex-direction(row);
          .next, .previous {
            padding-left: 10px;
            padding-right: 10px;
            i {
              color: white;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .products-list {
      margin-top: 20px;
      .items-list {
        @include display-flex();
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        .item {
          width: 20%;
          margin-right: 20px;
          margin-bottom: 30px;
          &:nth-child(4n) {
            margin-right: 0;
          }
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          .ratings {
            margin-top: 20px;
            margin-bottom: 20px;
            @include display-flex();
            @include justify-content(center);
            i {
              margin-right: 5px;
              color: $yellow;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          .info {
            h4 {
              color: $text-color;
              font-weight: 700;
              text-align: center;
            }
            .desc, .price {
              text-align: center;
            }
            .desc {
              line-height: 30px;
            }
            .price {
              font-size: 20px;
              font-weight: 700;
              color: $pink;
            }
          }
          .cta {
            margin-top: 15px;
            @include display-flex();
            @include justify-content(center);
            .btn-vanilla {
              .dashed-line {
                border: 1px dashed #cccccc;
              }
            }
            i, p {
              text-align: center;
              line-height: 30px;
            }
            i {
              color: white;
              padding-left: 10px;
              padding-right: 10px;
            }
            p {
              color: #555555;
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }
      }
      .navigation {
        @include display-flex();
        @include justify-content(center);
        margin: 30px auto;
        a {
          padding-left: 15px;
          padding-right: 15px;
          @include border-radius(3px);
          margin-right: 10px;
          i {
            font-size: 16px;
            margin-left: 5px;
          }
        }
      }
    }
    .brands {
      margin-top: 20px;
      .brands-list {
        @include display-flex();
        @include justify-content(center);
        @include justify-content(space-around);
      }
    }
  }
  // CSS mobile
  @media screen and (min-width: 320px) and (max-width: 768px){
    .header {
      padding-left: 25px;
      padding-right: 25px;
      border-bottom: none !important;
      .header-title {
        text-align: center;
        @include flex-grow(1);
      }
    }
    .products-list {
      .items-list {
        @include flex-direction(column);
        .item {
          width: 100vw !important;
          height: auto;
        }
      }
    }
    .brand-list {
      display: none !important;
    }
  }
}

#products-detail {
  margin-top: 80px;
  margin-bottom: 80px;
  .container {
    @include display-flex();
    .product-img {
      max-width: 400px;
      margin-right: 40px;
      .big-img {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .img-slider {
        @include display-flex();
        @include justify-content(center);
        height: 60px;
        line-height: 60px;
        a {
          display: block;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .product-desc {
      line-height: 20px;
      .title {
        font-weight: bold;
        font-size: 20px;
        color: $pink;
      }
      .desc {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .product-buying {
        .dropdown-select {
          @include display-flex();
          position: relative;
          height: 40px;
          margin-bottom: 20px;
          p {
            line-height: 40px;
          }
          select, input {
            position: absolute;
            left: 150px;
            line-height: 40px;
            height: 40px;
            width: 150px;
            border: 1px solid #cccccc;
            background-color: #f4f4f4;
            @include border-radius(3px);
            &:focus {
              outline: none;
              @include transition(ease, .3s);
              @include box-shadow(0 0 20px rgba(38, 171, 227, .3));
              border: 1px solid $blue;
            }
            &:hover {
              @include transition(ease, .3s);
              border: 1px solid $blue;
            }
          }
          input[type="number"] {
            width: 80px;
            text-align: center;
          }
        }
        .tag {
          @include display-flex();
          .tag-list {
            margin-left: 120px;
            @include display-flex();
            a {
              display: block;
              margin-right: 10px;
              color: $pink;
            }
          }
        }
        .pricing {
          border-top: 1px solid #cccccc;
          margin-top: 30px;
          padding-top: 30px;
          @include display-flex();
          position: relative;
          .pricetag {
            font-size: 20px;
            color: $pink;
            font-weight: bold;
            line-height: 40px;
          }
          button {
            position: absolute;
            left: 150px;
            height: 40px;
            text-transform: uppercase;
            font-size: 13px;
            padding: 0 30px;
            outline: none;
            border: none;
            @include border-radius(3px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #products-detail {
    .container {
      @include display-flex();
      @include flex-direction(column);
      .product-img {
        width: 100vw;
      }
      .product-desc {
        margin-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        .tag-list {
          @include flex-wrap(wrap);
        }
      }
      .dropdown-select {
        height: auto !important;
        @include display-flex();
        @include flex-direction(column);
        select, input {
          position: initial !important;
        }
      }
      .pricing {
        @include flex-direction(column);
        .pricetag {
          text-align: center;
        }
        button {
          position: initial !important;
        }
      }
    }
  }
}