#account-signup {
  margin-top: 20px;
  margin-bottom: 40px;
  .container {
    .header {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      margin-top: 30px;
      margin-bottom: 30px;
      @include display-flex();
      .header-title {
        background-color: $blue;
        padding: 5px;
        height: 30px;
        p {
          line-height: 30px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .login-link {
      margin-bottom: 30px;
      a {
        color: $pink;
        font-weight: bold;
      }
    }
    .info {
      @include display-flex();
      position: relative;
      margin-bottom: 10px;
      height: 40px;
      line-height: 40px;
      .required {
        color: red;
      }
      input[type="text"], input[type="email"], input[type="password"], select {
        position: absolute;
        left: 300px;
        height: 40px;
        width: 320px;
        background-color: #f4f4f4;
        border: 1px solid #cccccc;
        @include border-radius(3px);
        @include box-sizing(border-box);
        &:focus {
          outline: none;
          @include transition(ease, .3s);
          @include box-shadow(0 0 20px rgba(38, 171, 227, .3));
          border: 1px solid $blue;
        }
        &:hover {
          @include transition(ease, .3s);
          border: 1px solid $blue;
        }
      }
    }
    .confirm {
      @include display-flex();
      margin-bottom: 20px;
      margin-top: 40px;
      height: auto;
      position: relative;
      input[type="checkbox"] {
        position: absolute;
        top: 50%;
        @include translateY(-70%);
        text-align: center;
        width: auto;
        height: auto;
        &:hover, &:focus {
          outline: none;
          border: none;
        }
      }
      p {
        padding-left: 30px;
      }
    }
    button {
      cursor: pointer;
      height: 40px;
      outline: none;
      border: none;
      text-transform: uppercase;
      text-align: center;
      .dashed-line {
        padding: 0 30px;
        font-size: 13px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #account-signup {
    margin-top: 80px;
    form {
      padding-left: 25px;
      padding-right: 25px;
      .header {
        .header-title {
          @include flex-grow(1);
          text-align: center;
        }
      }
      .info {
        @include display-flex();
        @include flex-direction(column);
        height: auto !important;
        input, select {
          position: initial !important;
        }
      }
      .info.confirm {
        @include display-flex();
        @include flex-direction(row);
      }
     button {
       width: 100%;
     }
    }
  }
}