#slider-main {
  display: block;
  margin-bottom: 20px;
  .wide-banner {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  #slider-main {
    width: 100vw;
    height: auto;
    margin-top: 80px;
    img {
      display: block;
      width: 100vw;
      height: auto;
    }
  }
  .wide-banner {
    img {
      display: block;
      width: 100vw;
      height: auto;
    }
  }
}